
<div class="free-space">
    <nav class="navbar navbar-default navbar-main">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"> PDF Genesis </a>
            </div>
        </div>
    </nav>
</div>

<div class="blank-sheet">

</div>

<div class="generate-btn-temporary">
    <a class="btn btn-raised btn-warning"> Import </a>
    <a class="btn btn-raised btn-success"> Generate </a>
</div>