<a class="change-page-element" data-id="{{ page.id }}">
    <div class="page-icon {% if page.activate == true %}active{% endif %}"> <img src="{{  asset(page.path) }}" class="page-icon-image" data-id="{{ page.id }}"></div>
    <p>{{ loop_index }}</p>
</a>