

<div class="page-container ">
{% for page in pages %}

        <div class="page-icon {% if page.activate == true %}active{% endif %}"> <img src="{{ asset(page.path) }}" class="page-icon-image" data-id="{{ page.id }}"></div>
        <p>{{ loop.index }}</p>
{% endfor %}
</div>

<div class="page-container">
    <a href="{{ path('generate_new_page', {'id': document.id }) }}">
        <div class="page-icon page-create">
            <p>New page</p>
        </div>
    </a>
</div>