{% extends 'PdfGenesisCoreBundle::layout.html.twig' %}


{% block body %}
    <div class="background-image-homepage"></div>
    <div class="content">
        <div class="nav">
            {{ knp_menu_render('PdfGenesisCoreBundle:MenuBuilder:mainMenu') }}
        </div>
        <div class="border-triangle">
            <div class="main-triangle">
            </div>
        </div>

    </div>
{% endblock %}