{% extends 'PdfGenesisCoreBundle::layout.html.twig' %}


{% block body %}
    <div class="background-image-homepage"></div>
    <div class="content">
        <div class="border-triangle">
            <div class="main-triangle">
            </div>
        </div>

    </div>
{% endblock %}