{% extends 'PdfGenesisCoreBundle::layout.html.twig' %}


{% block body %}
    <div class="background-image-homepage"></div>
    <div class="content">
        <nav class="navbar navbar-default navbar-main">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"> PDF Genesis </a>
                </div>
                {{ knp_menu_render('PdfGenesisCoreBundle:MenuBuilder:mainMenu' , {'style': 'navbar-right', 'allow_safe_labels': true}) | raw  }}
            </div>
        </nav>
        <div class="border-triangle">
            <div class="main-triangle">
            </div>
        </div>

        <div class="design-access">
            <a class="btn btn-raised btn-default" href="#">Start now</a>
        </div>

    </div>
{% endblock %}