<!DOCTYPE html>
<html>
<head>
    <title> PDF Genesis </title>



    {% block stylesheets %}
        {% include 'PdfGenesisCoreBundle:assets:__stylesheets.html.twig' %}
    {% endblock %}

</head>

<body>
    <div class="flashbag">
        {% for flashMessage in app.session.flashbag.get('error') %}
            {{ flashMessage }}
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('sucess') %}
            {{ flashMessage }}
        {% endfor %}
    </div>
    {% block body %}
    {% endblock %}

    {% block javascripts %}
        {% include 'PdfGenesisCoreBundle:assets:__javascripts.html.twig' %}
    {% endblock %}
</body>
</html>