<!DOCTYPE html>
<html>
<head>
    <title> PDF Genesis </title>



    {% block stylesheets %}
        {% include 'PdfGenesisCoreBundle:Assets:__stylesheets.html.twig' %}
    {% endblock %}

</head>

<body>
<div class="flashbag">
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ flashMessage }}
        </div>
    {% endfor %}
</div>

{% block body %}
{% endblock %}

<div class="javascripts">
    {% block javascripts %}
        {% include 'PdfGenesisCoreBundle:Assets:__javascripts.html.twig' %}


        {% for flashMessage in app.session.flashbag.get('registration_confirmed') %}
        <script>
            $(document).ready(function () {
                registrationConfirmation();

                $("#"+CONFIRMATION_REGISTER_CLASS).on("hidden", function () {
                    $("#"+CONFIRMATION_REGISTER_CLASS).remove();
                });
            });
        </script>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('registration_error') %}
        <script>
            $(document).ready(function () {
                registrationError();
            });
        </script>
        {% endfor %}
    {% endblock %}
</div>
</body>
</html>