$taupe : rgba(70, 60, 49, 0.55);
$beige : rgba(247, 244, 242, 0.74);

$background-color: rgba(245, 155, 78, 0.28);
$background-design-tool-container : rgba(253, 166, 80, 0.61);
$background-design-container : rgba(183, 179, 175, 0.28);

$white : #FFF;
$orange : #eab451;

$menu-link : #ece1c6;

$table-border: #000;
$box-border: #c3c3c3;

$active-box: #efedea;
$active-box-shadow: #d8ccb7;

$text-color: #000;
$floating-text-color: #847b7b;

$facebook: #3b5998;
$google: #d2995d;