@import "color";

.design-tool-container{

  //width:100%;
  height: 100%;

  #import_path{
    opacity: 0;
    position: absolute;
    margin-top: 17px;
    //temporaire
    z-index: 9999;
    //opacity: 0;
    width: 114px;
  }
  a{
    text-align:center;
  }

  .input-file-trigger{
    font-weight: 300;
    color: $link-color;
  }
}

