@import 'color';

#design-container{

  #tabs{
    padding: 0;
    border: none;
    background: $transparence;

    ul{
      border: none;
      background: inherit;
      padding: 0;
      &#element-list{
        padding: 50px 5% 0 30%;
        width:100%;
      }
      li{
        font-size:12pt;
        font-weight: 500;
        text-align: center;
        width: 50%;
        margin: 0 !important;
        border:inherit;
        border-radius: 0;
        background: $transparence;
        &.element-part{
          display: inline-block;
          width:100%;
          padding: 10px 0 20px 0 !important;
        }
        &.ui-tabs-active{
          box-shadow: 0 0 14px #d2a87f;
          background: #e8c8a8;
        }
        a{
          width: 100%;
          &.element-link{
            i,p{
              display: inline-block;
              float: left;
            }
          }
        }
      }
    }

    .page-container{
      margin: 10% 31%;
      .page-icon{
        width: 110px;
        background: white;
        img{
          width: 110px;
          height: 140px;
        }
        &.active{
          img{
            border: 3px solid #ffa812;
          }
        }
        &.page-create{
          background: inherit;
          border: 2px dashed #ffa812;
          p{
            text-align:center;
            padding: 50% 0;
          }
        }
      }
      p{
        text-align:center;
      }
    }

  }


}