@import 'mixins';
@import 'color';

#design-container{
  background-color: $background-design-container;
  .blank-sheet{
    @include center();

    height: 60em;
    background-color: $white;
  }

  .free-space{
    height: 100px;
  }
}


.design-tool-container-left{
  a{
    float: none;
    display: inline-block;
    margin: 40px 0px;
    width: 100%;
  }
}

.design-tool-container-right{
  .element-part {
    margin: 9px 0px;
  }
}


.design-tool-container{
  padding-left: 68px;
  height: 155vh !important;
  padding-top: 35vh;
  background-color: $background-design-tool-container;
}

.blank-sheet-container{
  padding-right: 90px;
  padding-left: 90px;
}


.top-describing{
  border: 2px solid $box-border;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  background-color: $background-design-tool-container;
}

#design-container{
  a{
    color: #c18b27;
  }

  .navbar-header{
    color: #c18b27;
  }
}