@import 'mixins';
@import 'color';

li{
  list-style-type: none;
}

a{
  i{
    color: $link-color;
  }
}


#design-container{
  .navbar-header{
    margin-top:20px;
    .navbar-brand{
      //@include background(1);

      background: url(../../bundles/pdfgenesiscore/img/logo.png) no-repeat;
      background-size: 97%;
      //margin-top:20px;
    }
  }


}

.change-page-section{
  margin-bottom:30px;
  float: left;
  width: 100%;
  a,div{
    float: left !important;
    width: 33%;
  }
  .page-index{
    width:80%;
    font-weight:600;
  }
  .arrow{
    width:10%;
    #left{
      float: left !important;
    }
    #right{
      float:right !important;
    }
  }
}

.page-describing{
  margin: 20px 200px;
  i{
    position: relative;
    top: 5px;
  }
}

p.text-warning{
  font-size: 10pt;
}

