@import 'color';

#user-section {
  .navbar {
    background-color: #fdb772 !important;
    .navbar-header {
      float: left;
      padding-left: 3%;
    }
    .nav {
      width: 50%;
      li {
        padding-left: 60px;
      }
    }
  }

  .section-title {
    h2 {
      margin: 3em 5% 1em 7%;
      font-style: italic;
    }
  }

  .user-content {
    padding: 20px 12% 20px 12%;
    .profile-picture {
      i{
        display:none;
      }

      width: 15em;
      height: 15em;
      padding: 4px 4px;
      display: inline-block;
      border: 1px solid grey;
      #picture {
        position: absolute;
        width: 201px;
        height: 199px;
        display: inline-block;
        box-shadow: 0 2px 10px grey;
        background-color: #b5b5b5;
        border: 1px solid #a2a2a0;
      }

      #picture-download-form{
        opacity: 0;
      }

      #user-picture-path{
        width: 198px;
        height: 197px;
      }

      #picture-download{
        position: absolute;
        .settings-picture{
          display: none;
          width: 200px;
          height: 24px;
          text-align: right;
          padding: 2px 10px;
          color: #f1eded;
          top: 0;
          font-size: 10pt;
          position: absolute;
          background-color: rgba(0, 0, 0, 0.56);
          cursor: pointer;
        }

      }
      #picture-download-form{
        position: relative;
      }

    }
    
    .profile-picture-empty{

      i.file_download{
        display: block;
      }

      &:hover{
        #picture-download{
          width: 201px;
          height: 199px;
          display: inline-block;
          background-color: rgba(0, 0, 0, 0.29);
          i{
            text-align: center;
            width: 100%;
            vertical-align: middle;
            line-height: 4em;
            font-size: 35pt;
          }
        }
        #picture-download-form{
          opacity: 0;
          width: 100%;
          height: 100%;
          #picture-download-input{
            cursor: pointer;
            width: 100%;
            height: 100%;
          }
        }

      }
    }

    .profile-picture-full{
      #picture-download-form{
        width: 28px;
        cursor: pointer;
        z-index: 9999999;
        position: inherit;
        input[type="file"]{
          width: 198px;
          cursor: pointer;
        }
      }
      i.settings{
        display: block;
      }

      &:hover{
        .settings-picture{
          display: inline-block !important;
        }
      }
    }

    .data {
      display: inline-block;
      vertical-align: top;
      height: 15em;
      ul {
        margin-top: 30px;
        li {
          padding: 20px 0 20px 0;
          font-size: 15pt;
        }
      }
    }
    .info-plus {
      margin: 30px 0;
      font-style: italic;
    }

    .dynamic-library {
      border: 1px solid grey;
      padding: 4px 4px;
      margin-top: 5em;
      .droppable-zone {
        min-height: 22em;
        padding: 20px 20px;
        background-color: rgba(156, 153, 150, 0.36);
        border: 1px solid #a2a2a0;
        .library-element{
          display: inline-block;
          .document-element {
            width: 107px;
            height: 120px;
            display: inline-block;
            box-shadow: 0 2px 10px grey;
            margin: 10px 10px;
            border: 1px solid white;
            background-color: #b5b5b5;
            img {
              position: absolute;
              width: 107px;
              height: 120px;
              display: inline-block;
              box-shadow: 0 2px 10px grey;
              border: 1px solid white;
            }

            ul {
              display: none;
            }

            &:hover {
              cursor: pointer;
              ul {
                display: block;
                position: relative;
                z-index: 2;
                background-color: rgba(181, 181, 181, 0.83);
                height: auto;

                box-shadow: 0 1px 2px slategrey;
                width: auto;
                max-width: 100%;
                padding: 0;
                margin: auto;
                font-size: 9pt;
                line-height: 60px;
              }
            }
          }
        }

      }
    }
  }
  .document-action{
    margin: auto;
    width: 70%;
  }

  .btn-mdp{
    float: right;
    color: white;
    box-shadow: 0 2px 16px #9e9b9b;
    background: #fdb772 !important;
  }



}



