<form action="{{ path('import_user_picture') }}" method="post" id="picture-download-form" enctype="multipart/form-data">
    <input type="file" name="picture-download-input" id="picture-download-input"/>

</form>