<form action="" method="post" class="form form-horizontal form-modal" id="user-update-form">
    <div class="form-group is-empty">
        <label for="email" class="floating-label control-label">email</label>
        <input type="email" id="email" name="_email" class="form-control" value="" required="required" />
    </div>

    <input type="submit" value="valider" />
</form>