<div class="classification-section">
    <ul id="element-list">
        {% if elements is defined %}
            {% for item in elements %}
                {% if item.size != null and item.position != null  %}
                    <li class="element-part">
                        <a class="element-link" data-id="{{ item.id }}">
                            <i class="material-icons">list</i>
                            <p class="element-text">{{ item.name }}</p>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        {% endif %}
    </ul>
</div>
