<div class="classification-section">
    {% if elements is defined %}
        {% for item in elements %}
            {% if item.size != null and item.position != null  %}
                <div class="element-part">
                    <a class="element-link" data-id="{{ item.id }}">
                        <i class="material-icons">list</i>
                        <p class="element-text">{{ item.name }}</p>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
